numpy
scipy
scikit-sparse
pandas
pyarrow
tabulate
numba
cvxpy
ecos
highspy
pyscipopt
mosek
autograd
scikit-learn
kneed
jupyter
ipykernel
ipywidgets
scikit-image
matplotlib
plotly
anywidget
graphviz
pydot
distinctipy
rich
gdown
onedrivedownloader